# **üÑµüÖÑüÑΩüÑ≥üÑ∞üÑºüÑ¥üÑΩüÖÉüÑæüÖÇ üÑ≥üÑ¥ üÑ±üÑ∞üÖÇüÑ¥üÖÇ üÑ≥üÑ¥ üÑ≥üÑ∞üÖÉüÑæüÖÇ**
**2¬∫ Curso ‚Äì Grado en Ciencia de Datos e Inteligencia Artificial**

Departamento de Estad√≠stica, Matem√°ticas e Inform√°tica

Curso 2025‚Äì2026

# **FBD 2025/2026 ‚Äì Pr√°ctica 2**

# ùôπùöûùöïùöíùöò ùöÉùöòùöãùöòùöúùöò
---

### 1. Objetivo

Adquirir las destrezas b√°sicas en el lenguaje SQL, en la parte que corresponde a la obtenci√≥n de informaci√≥n, es decir, en su vertiente consultiva.

---

### 2. Esquema metodol√≥gico de trabajo

Se recomienda al alumno revisar las diapositivas correspondientes al tema de √°lgebra relacional, en el cual se introducen ejemplos b√°sicos de SQL paralelos a los operadores del √°lgebra relacional.
De igual manera se recomienda el uso del material espec√≠fico relativo al desarrollo de consultas mediante SQL.

Las uniones de las tablas se tienen que realizar bien mediante el comando **WHERE** o, si fuera necesario, mediante los comandos **LEFT JOIN** o **RIGHT JOIN**, y **no con el uso del comando INNER JOIN**.

---

### 3. Enunciado de la pr√°ctica

Descargar la Base de Datos **‚ÄúHuman Resources‚Äù (HR)**, revisar atentamente el esquema relacional de la √∫ltima p√°gina del presente enunciado y realizar las consultas SQL que aparecen a continuaci√≥n usando exclusivamente la sintaxis impartida en la presente asignatura.

La sintaxis SQL (ejecutable en Access) necesaria para obtener dichas consultas (y los comentarios) se plasmar√° en un documento Word o PDF:


---

### 4. Formato y fecha de entrega

Esta pr√°ctica se realizar√° de forma individual.
El plazo m√°ximo de entrega es el **19/12/2025 a las 23:55 horas** en la tarea correspondiente del acceso identificado de la UMH.

Se deber√° subir un fichero **ZIP** que incluya una memoria en Word o PDF con:

1. DNI, nombre y apellidos del alumno.
2. La sintaxis SQL necesaria para obtener cada consulta (de la a) a la cc)).
3. El n√∫mero total de registros obtenidos al ejecutar cada consulta en Access.
4. Comentarios aclaratorios en consultas complejas.
5. Modelo relacional.

# Alumno: ùôπùöûùöïùöíùöò ùöÉùöòùöãùöòùöúùöò
### DNI:48684197M

Para realizar la pr√°ctica en entorno de Colab, con el permiso del profesor, se han tomado medidas para adptar el c√≥digo. Al no tener Access disponible en mac, este entorno permite un informe limpio y conciso que integra el propio c√≥digo y aporta la habilidad de comprobar el c√≥digo en el momento.

Se ha usado el entorno Python para preparar a sqlite3, en una llamada funcional que importa los datos del entorno GitHub, despu√©s de haberlos pasado a un formato csv que permite una carga r√°pida y eficiente.

Las tablas han recibido nombres para el entorno SQL, e internamente se han guardado como bases de datos (dataframes) de NumPy. Esto solo afecta a que podemos usar la funci√≥n display para ense√±ar el Head+Tail de los datos obtenidos por la Query. La ventaja es que tablas largas se colapsan autom√°ticamente.

In [ ]:
import pandas as pd
import sqlite3

base_url = "https://raw.githubusercontent.com/JulTob/Data/main/PD/HR/"

table_files = {
    "COUNTRIES":   "HR_countries.csv",
    "DEPARTMENTS": "HR_departments.csv",
    "EMPLOYEES":   "HR_employees.csv",
    "JOB_HISTORY": "HR_job_history.csv",
    "JOBS":        "HR_jobs.csv",
    "LOCATIONS": "HR_locations.csv",
    "REGIONS": "HR_regions.csv",
}

dfs = {}
for table_name, filename in table_files.items():
    url = base_url + filename
    dfs[table_name] = pd.read_csv(url)

# Create a SQLite in-memory database (or specify a file path like 'HR.sqlite')
conn = sqlite3.connect(":memory:") # Using ':memory:' for an in-memory database

for table_name, df in dfs.items():
    df.to_sql(table_name, conn, if_exists="replace", index=False)

print("SQLite database created with tables:")
# Query to check table names
query_tables = "SELECT name FROM sqlite_master WHERE type='table';"
display(pd.read_sql_query(query_tables, conn))

# The connection 'conn' is now open and contains your data, ready for queries
# We will keep the connection open for subsequent queries.

SQLite database created with tables:

          name
0    COUNTRIES
1  DEPARTMENTS
2    EMPLOYEES
3  JOB_HISTORY
4         JOBS
5    LOCATIONS
6      REGIONS

He realizado una funci√≥n que aisla el procedimiento interno, permitiendo centrarnos en las solicitudes de SQL. Adem√°s, aporta invariablemente el tama√±o de los datos solicitados, con un print del n√∫mero de entradas, los datos por entrada, y el total de datos recogidos.

In [ ]:
sql_query = """
Select *
From COUNTRIES;
"""

def SQL(sql_query):
    df_result = pd.read_sql_query(sql_query, conn)
    display(df_result)
    rows, cols = df_result.shape
    print(f"{rows}x{cols}: {rows * cols} data elements")

SQL(sql_query)

   country_id              country_name  region_id
0          AR                 Argentina          2
1          AU                 Australia          3
2          BE                   Belgium          1
3          BR                    Brazil          2
4          CA                    Canada          2
5          CH               Switzerland          1
6          CN                     China          3
7          DE                   Germany          1
8          DK                   Denmark          1
9          EG                     Egypt          4
10         FR                    France          1
11         HK                  HongKong          3
12         IL                    Israel          4
13         IN                     India          3
14         IT                     Italy          1
15         JP                     Japan          3
16         KW                    Kuwait          4
17         MX                    Mexico          2
18         NG                   Nigeria          4
19         NL               Netherlands          1
20         SG                 Singapore          3
21         UK            United Kingdom          1
22         US  United States of America          2
23         ZM                    Zambia          4
24         ZW                  Zimbabwe          4

25x3: 75 data elements

In [ ]:
SQL("""
Select *
From DEPARTMENTS;
""")

    department_id       department_name  manager_id  location_id
0              10        Administration       200.0         1700
1              20             Marketing       201.0         1800
2              30            Purchasing       114.0         1700
3              40       Human Resources       203.0         2400
4              50              Shipping       121.0         1500
5              60                    IT       103.0         1400
6              70      Public Relations       204.0         2700
7              80                 Sales       145.0         2500
8              90             Executive       100.0         1700
9             100               Finance       108.0         1700
10            110            Accounting       205.0         1700
11            120              Treasury         NaN         1700
12            130         Corporate Tax         NaN         1700
13            140    Control And Credit         NaN         1700
14            150  Shareholder Services         NaN         1700
15            160              Benefits         NaN         1700
16            170         Manufacturing         NaN         1700
17            180          Construction         NaN         1700
18            190           Contracting         NaN         1700
19            200            Operations         NaN         1700
20            210            IT Support         NaN         1700
21            220                   NOC         NaN         1700
22            230           IT Helpdesk         NaN         1700
23            240      Government Sales         NaN         1700
24            250          Retail Sales         NaN         1700
25            260            Recruiting         NaN         1700
26            270               Payroll         NaN         1700

27x4: 108 data elements

En este diagrama Podemos consultar la estructura ER simplificada. El tenerla en texto me permite consultar nombres y copiarlo de manera sencilla para las queries.

```text
Legend:
‚¨úÔ∏è = Primary Key (Color matches table)
‚ö™Ô∏è = Foreign Key (Color matches related table)

Table Color Codes:
üü• = REGIONS
üüß = COUNTRIES
üü® = LOCATIONS
üü© = DEPARTMENTS
üü¶ = EMPLOYEES
üü™ = JOBS
üü´ = JOB_HISTORY


‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ üü•     REGIONS    ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ üü• REGION_ID      ‚îÇ
‚îÇ    REGION_NAME    ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ üüß     COUNTRIES     ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ üüß COUNTRY_ID        ‚îÇ
‚îÇ    COUNTRY_NAME            ‚îÇ
‚îÇ üî¥ REGION_ID               ‚îÇ ‚üµ | (1:M) has | ‚üµ  üü• REGIONS
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ üü®     LOCATIONS           ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ üü® LOCATION_ID             ‚îÇ
‚îÇ    STREET_ADDRESS          ‚îÇ
‚îÇ    POSTAL_CODE             ‚îÇ
‚îÇ    CITY                    ‚îÇ
‚îÇ    STATE_PROVINCE          ‚îÇ
‚îÇ üü† COUNTRY_ID              ‚îÇ ‚üµ | (1:M) has | ‚üµ üüß COUNTRIES
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ üü©     DEPARTMENTS      ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ üü© DEPARTMENT_ID        ‚îÇ
‚îÇ    DEPARTMENT_NAME      ‚îÇ
‚îÇ üîµ MANAGER_ID           ‚îÇ ‚üµ | (1:M) manages | ‚üµ üü¶EMPLOYEES
‚îÇ üü° LOCATION_ID          ‚îÇ ‚üµ | (1:M) hosts | ‚üµ üü®LOCATIONS
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ üü¶     EMPLOYEES    ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ üü¶ EMPLOYEE_ID      ‚îÇ
‚îÇ    FIRST_NAME       ‚îÇ
‚îÇ    LAST_NAME        ‚îÇ
‚îÇ    EMAIL            ‚îÇ
‚îÇ    PHONE_NUMBER     ‚îÇ
‚îÇ    HIRE_DATE        ‚îÇ
‚îÇ üü£ JOB_ID           ‚îÇ ‚üµ | (1:M) assigned to | ‚üµ üü™JOBS
‚îÇ    SALARY           ‚îÇ
‚îÇ    COMMISSION_PCT   ‚îÇ
‚îÇ üîµ MANAGER_ID       ‚îÇ ‚üµ | (1:M) supervises | ‚üµ üü¶EMPLOYEES
‚îÇ üü¢ DEPARTMENT_ID    ‚îÇ ‚üµ | (1:M) belongs to | ‚üµ üü©DEPARTMENTS
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ üü´   JOB_HISTORY    ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ üü´üîµ EMPLOYEE_ID     ‚îÇ ‚üµ | (1:M) has history | ‚üµ üü¶EMPLOYEES
‚îÇ üü´ START_DATE       ‚îÇ
‚îÇ    END_DATE         ‚îÇ
‚îÇ üü£ JOB_ID           ‚îÇ ‚üµ | (1:M) recorded in | ‚üµ üü™JOBS
‚îÇ üü¢ DEPARTMENT_ID    ‚îÇ ‚üµ | (1:M) includes | ‚üµ üü©DEPARTMENTS
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ üü™     JOBS                ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ üü™ JOB_ID                  ‚îÇ
‚îÇ    JOB_TITLE               ‚îÇ
‚îÇ    MIN_SALARY              ‚îÇ
‚îÇ    MAX_SALARY              ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
```

## Ejercicio a)
Mostrar el Nombre, Apellidos y n√∫mero de tel√©fono de los empleados cuyo trabajo sea de vendedor (es decir que job_id sea IT_PROG).

1. $R_1$ := ùúé(JOB_ID = "IT_PROG")[EMPLOYEES]
2. $R_2$ := ùúã(FIRST_NAME, LAST_NAME, PHONE_NUMBER)[$R_1$]

In [ ]:
SQL("""
SELECT
    first_name as Nombre,
    last_name as Apellidos,
    phone_number as Telefono
FROM EMPLOYEES
WHERE JOB_ID = 'IT_PROG'
;
""")

      Nombre  Apellidos      Telefono
0  Alexander     Hunold  590.423.4567
1      Bruce      Ernst  590.423.4568
2      David     Austin  590.423.4569
3      Valli  Pataballa  590.423.4560
4      Diana    Lorentz  590.423.5567

5x3: 15 data elements

## Ejercicio b)
Dar una lista con el Nombre y Apellidos de Empleados que no tengan comisi√≥n asignada (COMMISSION_PCT).

1. ùúé(COMMISSION_PCT is ‚êÄ)[EMPLOYEES]
2. ùúã(FIRST_NAME, LAST_NAME)[1.]

In [ ]:
SQL("""
SELECT
    first_name as Nombre,
    last_name as Apellidos
FROM EMPLOYEES
WHERE COMMISSION_PCT IS NOT 0
    OR COMMISSION_PCT IS NULL
;
""")

       Nombre Apellidos
0      Steven      King
1       Neena   Kochhar
2         Lex   De Haan
3   Alexander    Hunold
4       Bruce     Ernst
..        ...       ...
67        Pat       Fay
68      Susan    Mavris
69    Hermann      Baer
70    Shelley   Higgins
71    William     Gietz

[72 rows x 2 columns]

72x2: 144 data elements

## Ejercicio c)
Obtener una lista donde se indique cuantos empleados tiene comisi√≥n y cuantos no.

> Nota: El planteamiento tiene cierta ambiguedad. Por un lado en entorno t√©cnico, entender√≠amos que son los valores nulos en comisiones, _peeeero_ en entornos laborales, como en ofim√°tica, esta pregunta solicitar√≠a tambi√©n aquellos que tienen un valor de 0 en el campo no-nulo. Es interesante investigar ambos planteamientos. Voy a tomar esta ruta dual.

1. E := ùúå[EMPLOYEE]
2. A := ùúé(COMISSION is ‚êÄ)[E]
2. B := ùúé(COMISSION is 0)[E]
2. C := ùúé(COMISSION > 0)[E]
3. ‚èé R := |A| ‚à™ |B| ‚à™ |C|

In [ ]:
SQL("""
SELECT
    COUNT(*) AS TOTAL,
    COUNT(COMMISSION_PCT) AS CON_COMISION,
    COUNT(*) - COUNT(COMMISSION_PCT) AS SIN_COMISION
FROM EMPLOYEES;
""")

   TOTAL  CON_COMISION  SIN_COMISION
0    107            35            72

1x3: 3 data elements

Truco: Se puede hacer un **histograma** anal√≠tico de los datos con la funci√≥n de COUNT aplicada a un GROUP-BY. Esto separa los tipos de la columna, con cada count aplicada a cada grupo en lugar de al total de tabla.

In [ ]:
SQL("""
SELECT
    COMMISSION_PCT as Comision,
    COUNT(COMMISSION_PCT) as Conteo
FROM EMPLOYEES
GROUP BY COMMISSION_PCT
;
""")

   Comision  Conteo
0       NaN       0
1       0.0      35

2x2: 4 data elements

Esta soluci√≥n la marco como _Truco_ porque en otros contextos o en valores continuos de Commission_PCT podr√≠a potencialmente crear una tabla enorme. Aunque tambi√©n podr√≠amos extraer la informaci√≥n de esa tabla con `where`.

Alternativamente, la forma m√°s meticulosa ser√≠a as√≠:

In [ ]:
SQL("""
SELECT
    COUNT(COMMISSION_PCT) as "Known",
    SUM(COMMISSION_PCT IS 0) as "Comission=0",
    SUM(COMMISSION_PCT IS NOT NULL
        AND COMMISSION_PCT IS NOT 0) as "Comission>0",
    SUM(COMMISSION_PCT IS NULL) as "Unknown",
    SUM(COMMISSION_PCT) as "Total Comissions"

FROM EMPLOYEES
;
""")

   Known  Comission=0  Comission>0  Unknown  Total Comissions
0     35           35            0       72               0.0

1x5: 5 data elements

> Tenemos que usar SUM(condici√≥n), donde cada entrada evalua la condici√≥n en esa instancia. En caso afirmativo devuelve 1, con lo que se suma al tallaje total.

> PD: Sabemos que solo podemos tener comisiones >0 por l√≥gica del negocio (Bussiness Logic).

## Ejercicio d)
Obtener una lista de empleados con el nombre, los apellidos, el email y el salario de cada uno √©stos ordenada de menor a mayor salario.

$$
ùúó:=\text{FIRST_NAME},\ \text{LAST_NAME},\ \text{EMAIL},\ \text{SALARY}
$$
$$
R‚ÇÅ :=
ùúã_{ùúó}
[\text{EMPLOYEES}]
$$

$$
ùúè_{\text{SALARY}‚Üë}[R_1]
$$

In [ ]:
SQL("""
SELECT
    first_name AS Nombre,
    last_name AS Apellidos,
    email AS Email,
    salary AS Salario
FROM EMPLOYEES
ORDER BY SALARY
;
""")

     Nombre   Apellidos     Email  Salario
0        TJ       Olson   TJOLSON     2100
1    Steven      Markle   SMARKLE     2200
2     Hazel  Philtanker  HPHILTAN     2200
3     James      Landry   JLANDRY     2400
4        Ki         Gee      KGEE     2400
..      ...         ...       ...      ...
102   Karen    Partners  KPARTNER    13500
103    John     Russell   JRUSSEL    14000
104   Neena     Kochhar  NKOCHHAR    17000
105     Lex     De Haan   LDEHAAN    17000
106  Steven        King     SKING    24000

[107 rows x 4 columns]

107x4: 428 data elements

## Ejercicio e)
Realizar una lista como la anterior a√±adiendo adem√°s la columna correspondiente al nombre del departamento. ¬øQu√© se observa respecto al n√∫mero de filas obtenidas en esta consulta respecto a la anterior? ¬øQu√© explicaci√≥n puedes dar al respecto?

$$
E:= ùõí(EMPLOYEES)
$$
$$
D:= ùõí(DEPARTMENTS)
$$

$$
a:= E.DepartmentÔºøID = D.DepartmentÔºøID
$$

$$
ED :=
E \underset{a}{‚ãà} D
$$

$$
b :=
{
FIRSTÔºøNAME,
LASTÔºøNAME,
EMAIL,
SALARY,
DEPARTMENTÔºøNAME
}
$$

$$
R‚ÇÅ := ùúã_{(b)}[ED]
$$

$$
R :=
\tau_{\text{SALARY} \uparrow}(R_1)
$$


T√∫ decides el siguiente paso.

In [ ]:
SQL("""
SELECT
    E.first_name AS Nombre,
    E.last_name AS Apellidos,
    E.email AS Email,
    E.salary AS Salario,
    D.department_name AS Departamento
FROM EMPLOYEES AS E
    JOIN DEPARTMENTS AS D
        ON E.DEPARTMENT_ID = D.DEPARTMENT_ID
ORDER BY
    E.salary
;
""")

     Nombre   Apellidos     Email  Salario Departamento
0        TJ       Olson   TJOLSON     2100     Shipping
1    Steven      Markle   SMARKLE     2200     Shipping
2     Hazel  Philtanker  HPHILTAN     2200     Shipping
3     James      Landry   JLANDRY     2400     Shipping
4        Ki         Gee      KGEE     2400     Shipping
..      ...         ...       ...      ...          ...
101   Karen    Partners  KPARTNER    13500        Sales
102    John     Russell   JRUSSEL    14000        Sales
103   Neena     Kochhar  NKOCHHAR    17000    Executive
104     Lex     De Haan   LDEHAAN    17000    Executive
105  Steven        King     SKING    24000    Executive

[106 rows x 5 columns]

106x5: 530 data elements

Hay un miembro menos. El inner join no ha encontrado match

Vamos a verificar cu√°ntos empleados tienen un `DEPARTMENT_ID` nulo, lo cual explicar√≠a por qu√© no fueron incluidos en el `INNER JOIN`.

In [ ]:
SQL("""
SELECT
    COUNT(*) AS Employees_Without_Department
FROM
    EMPLOYEES
WHERE
    DEPARTMENT_ID IS NULL;
""")

   Employees_Without_Department
0                             1

1x1: 1 data elements

Efectivamente, la ausencia de este empleado indica un Empleado sin departamento, omitido por el inner join.

Un m√©todo sin usar el comando `INNER JOIN` ser√≠a usando `FROM-WHERE`

In [ ]:
SQL("""
SELECT
    EMPLOYEES.first_name,
    EMPLOYEES.Department_ID,
    DEPARTMENTS.Department_ID,
    DEPARTMENTS.Department_Name
FROM
    EMPLOYEES, DEPARTMENTS
WHERE
    EMPLOYEES.Department_ID = DEPARTMENTS.Department_ID
    ;
""")

    first_name  department_id  department_id   department_name
0       Steven           90.0             90         Executive
1        Neena           90.0             90         Executive
2          Lex           90.0             90         Executive
3    Alexander           60.0             60                IT
4        Bruce           60.0             60                IT
..         ...            ...            ...               ...
101        Pat           20.0             20         Marketing
102      Susan           40.0             40   Human Resources
103    Hermann           70.0             70  Public Relations
104    Shelley          110.0            110        Accounting
105    William          110.0            110        Accounting

[106 rows x 4 columns]

106x4: 424 data elements

In [ ]:
SQL("""
SELECT
    EMPLOYEES.first_name AS Nombre,
    EMPLOYEES.last_name AS Apellidos,
    EMPLOYEES.email AS Email,
    EMPLOYEES.salary AS Salario,
    DEPARTMENTS.Department_Name
FROM
    EMPLOYEES, DEPARTMENTS
WHERE
    EMPLOYEES.Department_ID = DEPARTMENTS.Department_ID
    ;
""")

        Nombre Apellidos     Email  Salario   department_name
0       Steven      King     SKING    24000         Executive
1        Neena   Kochhar  NKOCHHAR    17000         Executive
2          Lex   De Haan   LDEHAAN    17000         Executive
3    Alexander    Hunold   AHUNOLD     9000                IT
4        Bruce     Ernst    BERNST     6000                IT
..         ...       ...       ...      ...               ...
101        Pat       Fay      PFAY     6000         Marketing
102      Susan    Mavris   SMAVRIS     6500   Human Resources
103    Hermann      Baer     HBAER    10000  Public Relations
104    Shelley   Higgins  SHIGGINS    12000        Accounting
105    William     Gietz    WGIETZ     8300        Accounting

[106 rows x 5 columns]

106x5: 530 data elements

## Exploraci√≥n Propia: Contar Empleados por Departamento

Quiero probar a obtener el nombre del departamento y el n√∫mero de empleados que pertenecen a cada uno. Ser√≠a conveniente para entender el funcionamiento de los join.

In [ ]:
SQL("""
SELECT
    Dep.department_name AS NombreDepartamento,
    COUNT(Emp.employee_id) AS NumeroDeEmpleados
FROM
    DEPARTMENTS AS Dep
INNER JOIN
    EMPLOYEES AS Emp
    ON
        Dep.department_id = Emp.department_id
GROUP BY
    Dep.department_name
ORDER BY
    NumeroDeEmpleados DESC
;
""")
# Algorithm actions

   NombreDepartamento  NumeroDeEmpleados
0            Shipping                 45
1               Sales                 34
2          Purchasing                  6
3             Finance                  6
4                  IT                  5
5           Executive                  3
6           Marketing                  2
7          Accounting                  2
8    Public Relations                  1
9     Human Resources                  1
10     Administration                  1

11x2: 22 data elements

## Ejercicio f)
Obtener una lista de aquellos apellidos de empleados que no comiencen por la letra e ni terminen por la letra n, pero que contengan la letra t ordenada alfab√©ticamente por apellido de la A a la Z.

In [ ]:
SQL("""
SELECT DISTINCT
    last_name AS Apellido
FROM
    EMPLOYEES
WHERE
    last_name NOT LIKE 'E%'
    AND last_name NOT LIKE '%n'
    AND last_name LIKE '%t%'
ORDER BY
    last_name ASC;
""")

      Apellido
0        Bates
1       Bissot
2    Cambrault
3       Faviet
4        Gates
5        Gietz
6        Grant
7      Lorentz
8        Matos
9     Partners
10   Pataballa
11       Patel
12  Philtanker
13       Smith
14      Stiles
15      Taylor
16      Tobias
17      Tucker
18     Tuvault
19     Zlotkey

20x1: 20 data elements

## Ejercicio g)
Mostrar Nombre y Apellidos en una √∫nica columna con el formato 'Apellidos, Nombre' para todos los empleados cuyo tel√©fono contenga el prefijo 515.

In [ ]:
SQL("""
SELECT
    last_name || ', ' || first_name AS "Nombre Completo"
FROM
    EMPLOYEES
WHERE
    phone_number LIKE '515%'
;
""")

# NOTA: EN ACCESS concatenar Ser√≠a
# (E.last_name & ', ' & E.first_name) AS NombreCompleto

       Nombre Completo
0         King, Steven
1       Kochhar, Neena
2         De Haan, Lex
3     Greenberg, Nancy
4       Faviet, Daniel
5           Chen, John
6      Sciarra, Ismael
7   Urman, Jose Manuel
8           Popp, Luis
9        Raphaely, Den
10     Khoo, Alexander
11       Baida, Shelli
12       Tobias, Sigal
13         Himuro, Guy
14   Colmenares, Karen
15    Whalen, Jennifer
16  Hartstein, Michael
17       Mavris, Susan
18       Baer, Hermann
19    Higgins, Shelley
20      Gietz, William

21x1: 21 data elements

## Ejercicio h)
Obtener una lista de aquellos apellidos de empleados que est√°n repetidos y no terminen por la letra h o r, indicando el n√∫mero de repeticiones.

In [ ]:
SQL("""
SELECT
    last_name AS Apellidos,
    COUNT(last_name) AS Repeticiones
FROM EMPLOYEES
WHERE
    last_name NOT LIKE '%h'
    AND
    last_name NOT LIKE '%r'
GROUP BY
    last_name
HAVING
    Repeticiones > 1
;
""")

   Apellidos  Repeticiones
0  Cambrault             2
1      Grant             2
2       King             2

3x2: 6 data elements

## Ejercicio i)
Obtener una lista con los apellidos, email y nombre del departamento de los empleados directores de departamento ordenada por el nombre del departamento del cual sean director.

$$
A := ÔΩõ Apellidos, Email, DepartamentoÔΩù
$$
$$
E := ùõí(EMPLOYEES)
$$
$$
D := ùõí(DEPARTMENTS)
$$
$$
ùõº := (E.EMPLOYEEÔºøID = D.MANAGERÔºøID)
$$
$$
ED :=
  E
  \underset{ùõº }{‚ãà}
  D
$$
$$
R‚ÇÅ :=
ùúã(A)[ED]
$$
$$
ùúè(DEPARTMENT_NAME‚Üë)[R‚ÇÅ]
$$

In [ ]:
SQL("""
SELECT
    E.LAST_NAME AS Apellidos,
    E.EMAIL AS Email,
    D.DEPARTMENT_NAME AS Departamento
FROM EMPLOYEES AS E,
    DEPARTMENTS AS D
WHERE
    E.EMPLOYEE_ID = D.MANAGER_ID
ORDER BY
    D.DEPARTMENT_NAME
;
""")

    Apellidos     Email      Departamento
0     Higgins  SHIGGINS        Accounting
1      Whalen   JWHALEN    Administration
2        King     SKING         Executive
3   Greenberg  NGREENBE           Finance
4      Mavris   SMAVRIS   Human Resources
5      Hunold   AHUNOLD                IT
6   Hartstein  MHARTSTE         Marketing
7        Baer     HBAER  Public Relations
8    Raphaely  DRAPHEAL        Purchasing
9     Russell   JRUSSEL             Sales
10      Fripp    AFRIPP          Shipping

11x3: 33 data elements

## Ejercicio j)
Obtener una lista con los Nombres y Apellidos de los directores de departamento que superen el salario medio de todos los directores de departamento de la empresa, indicando tambi√©n el nombre de la regi√≥n d√≥nde el departamento est√° ubicado.

In [ ]:
SQL("""
SELECT
    E.FIRST_NAME AS Nombre,
    E.LAST_NAME AS Apellidos,
    D.DEPARTMENT_NAME AS Departamento,
    R.REGION_NAME AS Region
FROM EMPLOYEES AS E,
    DEPARTMENTS AS D,
    LOCATIONS AS L,
    COUNTRIES AS C,
    REGIONS AS R
WHERE
    E.EMPLOYEE_ID = D.MANAGER_ID
    AND
    D.LOCATION_ID = L.LOCATION_ID
    AND
    L.COUNTRY_ID = C.COUNTRY_ID
    AND
    C.REGION_ID = R.REGION_ID
    AND
    E.SALARY > (SELECT AVG(E2.SALARY)
        FROM EMPLOYEES AS E2, DEPARTMENTS AS D2
        WHERE E2.EMPLOYEE_ID = D2.MANAGER_ID)
ORDER BY
    D.DEPARTMENT_NAME
;
""")

    Nombre  Apellidos Departamento    Region
0  Shelley    Higgins   Accounting  Americas
1   Steven       King    Executive  Americas
2    Nancy  Greenberg      Finance  Americas
3  Michael  Hartstein    Marketing  Americas
4     John    Russell        Sales    Europe

5x4: 20 data elements

## Ejercicio k)
Obtener una lista con los nombres de los departamentos con las Ciudades, Nombre de Pa√≠s y Nombre de la Regi√≥n a donde pertenezcan ordenadas alfab√©ticamente por el nombre del pa√≠s de la Z a la A.

In [ ]:
SQL("""
SELECT
    D.Department_Name AS Departamento,
    L.City AS Ciudad,
    C.Country_Name AS Pais,
    R.Region_Name AS Region
FROM
    DEPARTMENTS AS D,
    LOCATIONS AS L,
    COUNTRIES AS C,
    REGIONS AS R
WHERE
    D.Location_ID = L.Location_ID
    AND
    L.Country_ID = C.Country_ID
    AND
    C.Region_ID = R.Region_ID

ORDER BY C.COUNTRY_NAME DESC
;
""")

,Departamento,Ciudad,Pais,Region
0,Administration,Seattle,United States of America,Americas
1,Purchasing,Seattle,United States of America,Americas
2,Shipping,South San Francisco,United States of America,Americas
3,IT,Southlake,United States of America,Americas
4,Executive,Seattle,United States of America,Americas
5,Finance,Seattle,United States of America,Americas
6,Accounting,Seattle,United States of America,Americas
7,Treasury,Seattle,United States of America,Americas
8,Corporate Tax,Seattle,United States of America,Americas
9,Control And Credit,Seattle,United States of America,Americas
10,Shareholder Services,Seattle,United States of America,Americas
11,Benefits,Seattle,United States of America,Americas
12,Manufacturing,Seattle,United States of America,Americas
13,Construction,Seattle,United States of America,Americas
14,Contracting,Seattle,United States of America,Americas
15,Operations,Seattle,United States of America,Americas
16,IT Support,Seattle,United States of America,Americas
17,NOC,Seattle,United States of America,Americas
18,IT Helpdesk,Seattle,United States of America,Americas
19,Government Sales,Seattle,United States of America,Americas
20,Retail Sales,Seattle,United States of America,Americas
21,Recruiting,Seattle,United States of America,Americas
22,Payroll,Seattle,United States of America,Americas
23,Human Resources,London,United Kingdom,Europe
24,Sales,Oxford,United Kingdom,Europe
25,Public Relations,Munich,Germany,Europe
26,Marketing,Toronto,Canada,Americas

27x4: 108 data elements

## Ejercicio l)
Obtener una lista con los nombres y apellidos de los empleados, as√≠ como el nombre de su categor√≠a laboral (JOB_TITLE) y el salario m√≠nimo de √©sta, ordenado de menor a mayor salario m√≠nimo.

1. EJ := E‚ãàJ (E.Job_ID=J.Job_ID)
2. ùúã(Nombres, Apellidos, Puesto, Salario_Minimo)[EJ]
3. ùúè [2.] (Salario_Minimo‚Üë)

In [ ]:
SQL("""
SELECT
    E.First_Name AS Nombre,
    E.Last_Name AS Apellidos,
    J.Job_Title AS Puesto,
    J.Min_Salary AS "Salario M√≠nimo"
FROM
    EMPLOYEES AS E,
    JOBS AS J
WHERE E.JOB_ID = J.JOB_ID
ORDER BY J.MIN_SALARY ASC
;
""")

     Nombre    Apellidos                         Puesto  Salario M√≠nimo
0     Julia        Nayer                    Stock Clerk            2000
1     Irene  Mikkilineni                    Stock Clerk            2000
2     James       Landry                    Stock Clerk            2000
3    Steven       Markle                    Stock Clerk            2000
4     Laura       Bissot                    Stock Clerk            2000
..      ...          ...                            ...             ...
102  Gerald    Cambrault                  Sales Manager           10000
103   Eleni      Zlotkey                  Sales Manager           10000
104   Neena      Kochhar  Administration Vice President           15000
105     Lex      De Haan  Administration Vice President           15000
106  Steven         King                      President           20000

[107 rows x 4 columns]

107x4: 428 data elements

## Ejercicio m)
Obtener una lista de categor√≠a laborales indicando: el nombre, el n√∫mero de empleados que pertenecen, el mayor salario pagado, el menor salario pagado y el salario medio todo ello referente a la mencionada categor√≠a laboral ordenada de mayor a menor salario medio.

1. E := ùúå(EMPLOYEES)
2. J := ùúå(JOBS)
3. EJ := E‚ãàJ(E.JOB_ID=J.JOB_ID)
1. Categor√≠as := ùõæ{J.Job_Title,|E.Job_ID|, J.Max_Salario, J.Min_Salario, AVG(E.Salario)[EJ]}
2. R‚ÇÅ := ùúã(Puesto, N_Empleados,  Max_Salario, Min_Salario, Med_Salario)[Categor√≠as]
3. R := ùúè (Med_Salario‚Üì)[R‚ÇÅ]

In [ ]:
SQL("""
SELECT
    J.Job_Title AS Puesto,
    COUNT(E.Job_ID) as "N√∫mero de Empleados",
    J.MAX_SALARY AS "Salario M√°ximo",
    J.MIN_SALARY AS "Salario M√≠nimo",
    AVG(E.Salary) as "Salario Medio"
FROM
    JOBS AS J,
    EMPLOYEES AS E
WHERE
    J.JOB_ID = E.JOB_ID
GROUP BY
    J.JOB_ID
ORDER BY
    "Salario Medio" DESC
;""")

,Puesto,N√∫mero de Empleados,Salario M√°ximo,Salario M√≠nimo,Salario Medio
0,President,1,40000,20000,24000.0
1,Administration Vice President,2,30000,15000,17000.0
2,Marketing Manager,1,15000,9000,13000.0
3,Sales Manager,5,20000,10000,12200.0
4,Finance Manager,1,16000,8200,12000.0
5,Accounting Manager,1,16000,8200,12000.0
6,Purchasing Manager,1,15000,8000,11000.0
7,Public Relations Representative,1,10500,4500,10000.0
8,Sales Representative,30,12000,6000,8350.0
9,Public Accountant,1,9000,4200,8300.0
10,Accountant,5,9000,4200,7920.0
11,Stock Manager,5,8500,5500,7280.0
12,Human Resources Representative,1,9000,4000,6500.0
13,Marketing Representative,1,9000,4000,6000.0
14,Programmer,5,10000,4000,5760.0
15,Administration Assistant,1,6000,3000,4400.0
16,Shipping Clerk,20,5500,2500,3215.0
17,Stock Clerk,20,5000,2000,2785.0
18,Purchasing Clerk,5,5500,2500,2780.0

19x5: 95 data elements

Me preguntaba tambi√©n si ser√≠a posible hacerlo con los datos reales de max/min en la tabla:

In [ ]:
SQL("""
SELECT
    J.JOB_TITLE AS Puesto,
    COUNT(E.JOB_ID) AS NumeroEmpleados,
    MAX(E.SALARY) AS SalarioMaximo,
    MIN(E.SALARY) AS SalarioMinimo,
    AVG(E.SALARY) AS SalarioMedio
FROM
    JOBS AS J,
    EMPLOYEES AS E
WHERE
    J.JOB_ID = E.JOB_ID
GROUP BY
    J.JOB_ID, J.JOB_TITLE
ORDER BY
    SalarioMedio DESC;
""")

,Puesto,NumeroEmpleados,SalarioMaximo,SalarioMinimo,SalarioMedio
0,President,1,24000,24000,24000.0
1,Administration Vice President,2,17000,17000,17000.0
2,Marketing Manager,1,13000,13000,13000.0
3,Sales Manager,5,14000,10500,12200.0
4,Accounting Manager,1,12000,12000,12000.0
5,Finance Manager,1,12000,12000,12000.0
6,Purchasing Manager,1,11000,11000,11000.0
7,Public Relations Representative,1,10000,10000,10000.0
8,Sales Representative,30,11500,6100,8350.0
9,Public Accountant,1,8300,8300,8300.0
10,Accountant,5,9000,6900,7920.0
11,Stock Manager,5,8200,5800,7280.0
12,Human Resources Representative,1,6500,6500,6500.0
13,Marketing Representative,1,6000,6000,6000.0
14,Programmer,5,9000,4200,5760.0
15,Administration Assistant,1,4400,4400,4400.0
16,Shipping Clerk,20,4200,2500,3215.0
17,Stock Clerk,20,3600,2100,2785.0
18,Purchasing Clerk,5,3100,2500,2780.0

19x5: 95 data elements

He visto que funciona igual en `GROUP BY` si se selecciona cualquiera de los `J.JOB_ID, J.JOB_TITLE` o ambos. Me ha parecido interesante porque ambos pueden identificar el Trabajo, pero se podr√≠a granular varios modelos de Job_Title similares, o bajo el mismo nombre, pero con descriptivos diferentes. Esto puede ser util si se tiene un grupo de trabajo comercial orientado al p√∫blico y otro orientado a empresas, por ejemplo.

## Ejercicio n)
Listar los nombres de todos los departamentos y el nombre de su director, incluyendo los departamentos que no tienen director asignado, en este √∫ltimo caso la columna dir√° ‚ÄòSin Director Asignado‚Äô.

* D := ùúå(DEPARTMENTS)
* E := ùúå(EMPLOYEES)
* ùõº := D.MANAGER_ID = E.EMPLOYEE_ID
* R‚ÇÅ := D ‚ãà E (ùõº)
* P‚ÇÅ := ùúã(
    - D.DEPARTMENT_NAME,
    - E.FIRST_NAME,
    - E.LAST_NAME)
    - [R‚ÇÅ]
* S := ùúé(D.MANAGER_ID = ‚êÄ)[P‚ÇÅ]
* P‚ÇÇ := ùúã(
    - D.DEPARTMENT_NAME,
    - "Sin Director Asignado",
    - "-")
    - [S]
* R := P‚ÇÅ ‚à™ P‚ÇÇ

In [ ]:
SQL("""
SELECT DISTINCT
    D.DEPARTMENT_NAME AS Departamento,
    E.FIRST_NAME AS "Nombre Director",
    E.LAST_NAME AS "Apellidos Director"
FROM DEPARTMENTS AS D,
    EMPLOYEES AS E
WHERE
    D.MANAGER_ID = E.EMPLOYEE_ID
UNION
SELECT
    D2.DEPARTMENT_NAME AS Departamento,
    "Sin Director Asignado" AS "Nombre Director",
    "-" AS "Apellidos Director"
FROM DEPARTMENTS AS D2
WHERE D2.MANAGER_ID IS NULL
ORDER BY "Departamento"
;

""")

            Departamento        Nombre Director Apellidos Director
0             Accounting                Shelley            Higgins
1         Administration               Jennifer             Whalen
2               Benefits  Sin Director Asignado                  -
3           Construction  Sin Director Asignado                  -
4            Contracting  Sin Director Asignado                  -
5     Control And Credit  Sin Director Asignado                  -
6          Corporate Tax  Sin Director Asignado                  -
7              Executive                 Steven               King
8                Finance                  Nancy          Greenberg
9       Government Sales  Sin Director Asignado                  -
10       Human Resources                  Susan             Mavris
11                    IT              Alexander             Hunold
12           IT Helpdesk  Sin Director Asignado                  -
13            IT Support  Sin Director Asignado                  -
14         Manufacturing  Sin Director Asignado                  -
15             Marketing                Michael          Hartstein
16                   NOC  Sin Director Asignado                  -
17            Operations  Sin Director Asignado                  -
18               Payroll  Sin Director Asignado                  -
19      Public Relations                Hermann               Baer
20            Purchasing                    Den           Raphaely
21            Recruiting  Sin Director Asignado                  -
22          Retail Sales  Sin Director Asignado                  -
23                 Sales                   John            Russell
24  Shareholder Services  Sin Director Asignado                  -
25              Shipping                   Adam              Fripp
26              Treasury  Sin Director Asignado                  -

27x3: 81 data elements

## Ejercicio o)
Obtener una lista con los nombres y apellidos de los empleados, as√≠ como el nombre y apellidos de su supervisor (m√°nager) ordenada alfab√©ticamente por el c√≥digo de la categor√≠a laboral (JOB_ID) de este √∫ltimo.

In [ ]:
SQL("""
SELECT
    E.First_Name AS Nombre,
    E.Last_Name AS Apellidos,
    M.First_Name AS "Nombre Supervisor",
    M.Last_Name AS "Apellidos Supervisor"
FROM
    EMPLOYEES as E,
    EMPLOYEES as M
WHERE
    E.MANAGER_ID = M.EMPLOYEE_ID
ORDER BY
    M.JOB_ID
;
""")

      Nombre Apellidos Nombre Supervisor Apellidos Supervisor
0    William     Gietz           Shelley              Higgins
1      Neena   Kochhar            Steven                 King
2        Lex   De Haan            Steven                 King
3        Den  Raphaely            Steven                 King
4    Matthew     Weiss            Steven                 King
..       ...       ...               ...                  ...
101    Vance     Jones            Shanta              Vollman
102    Alana     Walsh             Kevin              Mourgos
103    Kevin    Feeney             Kevin              Mourgos
104   Donald  OConnell             Kevin              Mourgos
105  Douglas     Grant             Kevin              Mourgos

[106 rows x 4 columns]

106x4: 424 data elements

## Ejercicio p)
Obtener una lista con los nombres de los departamentos y la ciudad donde √©ste est√° ubicado incluyendo el importe total de salarios que ese departamento paga a sus empleados.

-

In [ ]:
SQL("""
SELECT
    D.DEPARTMENT_NAME AS Departamento,
    L.CITY AS Ciudad,
    SUM(E.SALARY) AS "Salario Total"
FROM
    DEPARTMENTS AS D,
    LOCATIONS AS L,
    EMPLOYEES AS E
WHERE
    D.LOCATION_ID = L.LOCATION_ID
    AND
    D.DEPARTMENT_ID = E.DEPARTMENT_ID
GROUP BY
    D.DEPARTMENT_ID
;
""")

        Departamento               Ciudad  Salario Total
0     Administration              Seattle           4400
1          Marketing              Toronto          19000
2         Purchasing              Seattle          24900
3    Human Resources               London           6500
4           Shipping  South San Francisco         156400
5                 IT            Southlake          28800
6   Public Relations               Munich          10000
7              Sales               Oxford         304500
8          Executive              Seattle          58000
9            Finance              Seattle          51600
10        Accounting              Seattle          20300

11x3: 33 data elements

## Ejercicio q)
Seleccionar los empleados que no sean supervisores de nadie dando sus Nombre y Apellidos separados por coma, as√≠ como el nombre la categor√≠a laboral (JOB_TITLE) a la que pertenecen.

In [46]:
# Prueba de la Intermedia Para los Managers
SQL("""
SELECT
        DISTINCT E2.MANAGER_ID
        FROM
            EMPLOYEES AS E2
        WHERE
            E2.MANAGER_ID IS NOT NULL
""")

    manager_id
0        100.0
1        102.0
2        103.0
3        101.0
4        108.0
5        114.0
6        120.0
7        121.0
8        122.0
9        123.0
10       124.0
11       145.0
12       146.0
13       147.0
14       148.0
15       149.0
16       201.0
17       205.0

18x1: 18 data elements

In [47]:
SQL("""
SELECT
    E.Last_Name || ", " || E.First_Name As NombreCompleto,
    J.Job_Title As Puesto
FROM
    EMPLOYEES AS E,
    JOBS AS J
WHERE
    E.JOB_ID = J.JOB_ID
    AND E.EMPLOYEE_ID NOT IN (SELECT
        DISTINCT E2.MANAGER_ID
        FROM
            EMPLOYEES AS E2
        WHERE
            E2.MANAGER_ID IS NOT NULL

        )
;
""")

      NombreCompleto                           Puesto
0       Ernst, Bruce                       Programmer
1      Austin, David                       Programmer
2   Pataballa, Valli                       Programmer
3     Lorentz, Diana                       Programmer
4     Faviet, Daniel                       Accountant
..               ...                              ...
84  Whalen, Jennifer         Administration Assistant
85          Fay, Pat         Marketing Representative
86     Mavris, Susan   Human Resources Representative
87     Baer, Hermann  Public Relations Representative
88    Gietz, William                Public Accountant

[89 rows x 2 columns]

89x2: 178 data elements

## Ejercicio r)
Obtener una lista con los nombres de departamento, el n√∫mero de empleados, el salario m√°ximo, el m√≠nimo, as√≠ como el promedio de cada uno de estos departamentos, ordenados seg√∫n el salario medio de menor a mayor.

In [52]:
SQL("""
SELECT
    D.DEPARTMENT_NAME AS Departamento,
    COUNT(E.EMPLOYEE_ID) AS "N√∫mero de Empleados",
    MAX(E.SALARY) AS "Salario M√°ximo",
    MIN(E.SALARY) AS "Salario M√≠nimo",
    ROUND(AVG(E.SALARY),2) AS "Salario Medio"
FROM
    DEPARTMENTS AS D,
    EMPLOYEES AS E
    WHERE
        D.DEPARTMENT_ID = E.DEPARTMENT_ID
    GROUP BY
        D.DEPARTMENT_ID
""")

,Departamento,N√∫mero de Empleados,Salario M√°ximo,Salario M√≠nimo,Salario Medio
0,Administration,1,4400,4400,4400.00
1,Marketing,2,13000,6000,9500.00
2,Purchasing,6,11000,2500,4150.00
3,Human Resources,1,6500,6500,6500.00
4,Shipping,45,8200,2100,3475.56
5,IT,5,9000,4200,5760.00
6,Public Relations,1,10000,10000,10000.00
7,Sales,34,14000,6100,8955.88
8,Executive,3,24000,17000,19333.33
9,Finance,6,12000,6900,8600.00
10,Accounting,2,12000,8300,10150.00

11x5: 55 data elements

## Ejercicio s)
Obtener el n√∫mero de empleados contratados entre los a√±os 1995 y 1999 que est√©n asignados a alg√∫n departamento.

In [89]:
SQL("""
SELECT
    HIRE_DATE AS Fecha
FROM EMPLOYEES
WHERE HIRE_DATE LIKE("%199[5-9]%")
""")

Empty DataFrame
Columns: [Fecha]
Index: []

0x1: 0 data elements

In [92]:
SQL("""
SELECT
    count(HIRE_DATE) AS "N√∫mero de Empleados"
FROM EMPLOYEES
WHERE
    (   HIRE_DATE LIKE("%1999%")
    OR
        HIRE_DATE LIKE("%1998%")
    OR
        HIRE_DATE LIKE("%1997%")
    OR
        HIRE_DATE LIKE("%1996%")
    OR
        HIRE_DATE LIKE("%1995%")
    ) AND
        DEPARTMENT_ID IS NOT NULL
""")

   N√∫mero de Empleados
0                   82

1x1: 1 data elements

## Ejercicio t)
Obtener el n√∫mero de ciudades que tiene cada pa√≠s, indicando el nombre de √©sta.

In [77]:
SQL("""
SELECT
    C.COUNTRY_NAME AS Pais,
    COUNT(L.CITY) AS "N√∫mero de Ciudades"
FROM
    COUNTRIES AS C,
    LOCATIONS AS L
    WHERE
        C.COUNTRY_ID = L.COUNTRY_ID
    GROUP BY
        C.COUNTRY_NAME
    ORDER BY
        "N√∫mero de Ciudades" DESC
""")

                        Pais  N√∫mero de Ciudades
0   United States of America                   4
1             United Kingdom                   3
2                Switzerland                   2
3                      Japan                   2
4                      Italy                   2
5                     Canada                   2
6                  Singapore                   1
7                Netherlands                   1
8                     Mexico                   1
9                      India                   1
10                   Germany                   1
11                     China                   1
12                    Brazil                   1
13                 Australia                   1

14x2: 28 data elements

## Ejercicio u)
Obtener una lista de Ciudades junto al Nombre de Pa√≠s y Nombre de la Regi√≥n a donde pertenezcan, en la cual se indique el n√∫mero de departamentos que √©sta aloja. La lista ha de estar ordenada de menor a mayor n√∫mero de departamentos.

In [80]:
SQL("""
SELECT
    L.CITY AS Ciudad,
    C.COUNTRY_NAME AS Pais,
    R.REGION_NAME AS Region,
    COUNT(D.DEPARTMENT_ID) AS "N√∫mero de Departamentos"
FROM
    LOCATIONS AS L,
    COUNTRIES AS C,
    REGIONS AS R,
    DEPARTMENTS AS D
WHERE
    L.COUNTRY_ID = C.COUNTRY_ID
    AND
    C.REGION_ID = R.REGION_ID
    AND
    L.LOCATION_ID = D.LOCATION_ID
GROUP BY
    L.CITY
ORDER BY
    "N√∫mero de Departamentos"
;
""")

,Ciudad,Pais,Region,N√∫mero de Departamentos
0,London,United Kingdom,Europe,1
1,Munich,Germany,Europe,1
2,Oxford,United Kingdom,Europe,1
3,South San Francisco,United States of America,Americas,1
4,Southlake,United States of America,Americas,1
5,Toronto,Canada,Americas,1
6,Seattle,United States of America,Americas,21

7x4: 28 data elements

## Ejercicio v)
Obtener la lista de Ciudades en las que no se aloja ning√∫n departamento de la empresa incluyendo el Nombre de Pa√≠s y Nombre de la Regi√≥n.

In [82]:
SQL("""
SELECT
    L.CITY AS Ciudad,
    C.COUNTRY_NAME AS Pais,
    R.REGION_NAME AS Region
FROM
    LOCATIONS AS L,
    COUNTRIES AS C,
    REGIONS AS R
WHERE
    L.COUNTRY_ID = C.COUNTRY_ID
    AND
    C.REGION_ID = R.REGION_ID
    AND
    L.LOCATION_ID NOT IN (SELECT
        D2.LOCATION_ID
        FROM
            DEPARTMENTS AS D2)
""")

             Ciudad                      Pais    Region
0              Roma                     Italy    Europe
1            Venice                     Italy    Europe
2             Tokyo                     Japan      Asia
3         Hiroshima                     Japan      Asia
4   South Brunswick  United States of America  Americas
5        Whitehorse                    Canada  Americas
6           Beijing                     China      Asia
7            Bombay                     India      Asia
8            Sydney                 Australia      Asia
9         Singapore                 Singapore      Asia
10        Stretford            United Kingdom    Europe
11        Sao Paulo                    Brazil  Americas
12           Geneva               Switzerland    Europe
13             Bern               Switzerland    Europe
14          Utrecht               Netherlands    Europe
15      Mexico City                    Mexico  Americas

16x3: 48 data elements

## Ejercicio w)
Realizar una relaci√≥n con los nombres de los directores de los departamentos ordenado por apellidos de la Z a la A, esta √∫nica columna se llamar√° Nombre Completo, apareciendo los Apellidos una coma y el Nombre.

In [84]:
SQL("""
SELECT
    E.LAST_NAME || ', ' || E.FIRST_NAME AS "Nombre Completo",
    D.DEPARTMENT_NAME AS Departamento
FROM
    EMPLOYEES AS E,
    DEPARTMENTS AS D
WHERE
    E.EMPLOYEE_ID = D.MANAGER_ID
ORDER BY
    E.LAST_NAME DESC
;
""")

       Nombre Completo      Departamento
0     Whalen, Jennifer    Administration
1        Russell, John             Sales
2        Raphaely, Den        Purchasing
3        Mavris, Susan   Human Resources
4         King, Steven         Executive
5    Hunold, Alexander                IT
6     Higgins, Shelley        Accounting
7   Hartstein, Michael         Marketing
8     Greenberg, Nancy           Finance
9          Fripp, Adam          Shipping
10       Baer, Hermann  Public Relations

11x2: 22 data elements

## Ejercicio x)
Obtener Apellidos, Salario y Nombre del departamento de aquellos empleados que, no siendo jefes de departamento, no superen el salario medio del departamento para el cual trabajan.

In [87]:
SQL("""
SELECT
    E.LAST_NAME AS Apellidos,
    E.SALARY AS Salario,
    D.DEPARTMENT_NAME AS Departamento
FROM
    EMPLOYEES AS E,
    DEPARTMENTS AS D
WHERE
    E.DEPARTMENT_ID = D.DEPARTMENT_ID
    AND
    E.EMPLOYEE_ID NOT IN (SELECT
        DISTINCT E2.MANAGER_ID
        FROM
            EMPLOYEES AS E2
        WHERE
            E2.MANAGER_ID IS NOT NULL
        )
    AND
    Salario < (SELECT
        AVG(E3.SALARY)
        FROM EMPLOYEES AS E3
        WHERE E3.DEPARTMENT_ID = E.DEPARTMENT_ID
        )
;
""")

    Apellidos  Salario Departamento
0      Austin     4800           IT
1   Pataballa     4800           IT
2     Lorentz     4200           IT
3        Chen     8200      Finance
4     Sciarra     7700      Finance
..        ...      ...          ...
58     Feeney     3000     Shipping
59   OConnell     2600     Shipping
60      Grant     2600     Shipping
61        Fay     6000    Marketing
62      Gietz     8300   Accounting

[63 rows x 3 columns]

63x3: 189 data elements

## Ejercicio y)
Realizar una lista de Nombre de Departamento y Ciudad donde √©ste se ubica de tal manera que ning√∫n empleado trabaje en ellos y otra que s√≠ tengan alg√∫n empleado.

In [97]:
SQL("""
SELECT
    D.DEPARTMENT_NAME AS Departamento,
    L.CITY AS Ciudad,
    "Sin Empleados" AS "Empleados?"
FROM
    DEPARTMENTS AS D,
    LOCATIONS AS L
WHERE
    D.LOCATION_ID = L.LOCATION_ID
    AND
    D.DEPARTMENT_ID NOT IN (SELECT
        E.DEPARTMENT_ID
        FROM
            EMPLOYEES AS E)
UNION
SELECT
    D.DEPARTMENT_NAME AS Departamento,
    L.CITY AS Ciudad,
    "Con Empleados" AS "Empleados?"
FROM
    DEPARTMENTS AS D,
    LOCATIONS AS L
WHERE
    D.LOCATION_ID = L.LOCATION_ID
    AND
    D.DEPARTMENT_ID IN (SELECT
        E.DEPARTMENT_ID
        FROM
            EMPLOYEES AS E)
""")

        Departamento               Ciudad     Empleados?
0         Accounting              Seattle  Con Empleados
1     Administration              Seattle  Con Empleados
2          Executive              Seattle  Con Empleados
3            Finance              Seattle  Con Empleados
4    Human Resources               London  Con Empleados
5                 IT            Southlake  Con Empleados
6          Marketing              Toronto  Con Empleados
7   Public Relations               Munich  Con Empleados
8         Purchasing              Seattle  Con Empleados
9              Sales               Oxford  Con Empleados
10          Shipping  South San Francisco  Con Empleados

11x3: 33 data elements

## Ejercicio z)
Obtener Nombre, Apellidos y Salario de los empleados cuyo salario sea mayor que el salario medio de los compa√±eros que trabajan es su mismo pa√≠s.

In [100]:
SQL("""
SELECT
    E.FIRST_NAME AS Nombre,
    E.LAST_NAME AS Apellidos,
    E.SALARY AS Salario
FROM
    EMPLOYEES AS E,
    EMPLOYEES AS Empleado,
    DEPARTMENTS AS Emp_Dep,
    LOCATIONS AS Emp_Loc,
    COUNTRIES AS Emp_Countr
WHERE
    E.EMPLOYEE_ID = Empleado.EMPLOYEE_ID
    AND
    Empleado.DEPARTMENT_ID = Emp_Dep.DEPARTMENT_ID
    AND
    Emp_Dep.LOCATION_ID = Emp_Loc.LOCATION_ID
    AND
    Emp_Loc.COUNTRY_ID = Emp_Countr.COUNTRY_ID
    AND
    Empleado.SALARY > (SELECT
        AVG(Companeros.SALARY)
        FROM
            EMPLOYEES AS Companeros,
            DEPARTMENTS AS Comp_Dep,
            LOCATIONS AS Comp_Loc,
            COUNTRIES AS Comp_Countr
        WHERE
            Companeros.EMPLOYEE_ID <> Empleado.EMPLOYEE_ID
            AND
            Companeros.DEPARTMENT_ID = Comp_Dep.DEPARTMENT_ID
            AND
            Comp_Dep.LOCATION_ID = Comp_Loc.LOCATION_ID
            AND
            Comp_Loc.COUNTRY_ID = Comp_Countr.COUNTRY_ID
            AND
            Emp_Countr.COUNTRY_ID = Comp_Countr.COUNTRY_ID
        )
;
""")

         Nombre  Apellidos  Salario
0        Steven       King    24000
1         Neena    Kochhar    17000
2           Lex    De Haan    17000
3     Alexander     Hunold     9000
4         Bruce      Ernst     6000
5         Nancy  Greenberg    12000
6        Daniel     Faviet     9000
7          John       Chen     8200
8        Ismael    Sciarra     7700
9   Jose Manuel      Urman     7800
10         Luis       Popp     6900
11          Den   Raphaely    11000
12      Matthew      Weiss     8000
13         Adam      Fripp     8200
14        Payam   Kaufling     7900
15       Shanta    Vollman     6500
16        Kevin    Mourgos     5800
17         John    Russell    14000
18        Karen   Partners    13500
19      Alberto  Errazuriz    12000
20       Gerald  Cambrault    11000
21        Eleni    Zlotkey    10500
22        Peter     Tucker    10000
23        David  Bernstein     9500
24        Peter       Hall     9000
25      Janette       King    10000
26      Patrick      Sully     9500
27        Allan     McEwen     9000
28        Clara    Vishney    10500
29     Danielle     Greene     9500
30         Lisa       Ozer    11500
31     Harrison      Bloom    10000
32       Tayler        Fox     9600
33        Ellen       Abel    11000
34      Michael  Hartstein    13000
35      Shelley    Higgins    12000
36      William      Gietz     8300

37x3: 111 data elements

## Ejercicio aa)
Obtener por cada tipo de trabajo (JOB_ID), indicando tambi√©n su nombre (JOB_TITLE), el salario m√°s bajo pagado (es decir cu√°l es el importe pagado a aquel empleado que menos gana).

In [ ]:
SQL("""
SELECT
        j.job_id AS "Tipo de Trabajo",
        j.job_title AS "Puesto",
        min(e.salary) AS "Menor Salario"
    From
        JOBS as j,
        EMPLOYEES as e
    where
        j.job_id = e.job_id
    group by j.job_id
    """)

   Tipo de Trabajo                           Puesto  Menor Salario
0       AC_ACCOUNT                Public Accountant           8300
1           AC_MGR               Accounting Manager          12000
2          AD_ASST         Administration Assistant           4400
3          AD_PRES                        President          24000
4            AD_VP    Administration Vice President          17000
5       FI_ACCOUNT                       Accountant           6900
6           FI_MGR                  Finance Manager          12000
7           HR_REP   Human Resources Representative           6500
8          IT_PROG                       Programmer           4200
9           MK_MAN                Marketing Manager          13000
10          MK_REP         Marketing Representative           6000
11          PR_REP  Public Relations Representative          10000
12        PU_CLERK                 Purchasing Clerk           2500
13          PU_MAN               Purchasing Manager          11000
14          SA_MAN                    Sales Manager          10500
15          SA_REP             Sales Representative           6100
16        SH_CLERK                   Shipping Clerk           2500
17        ST_CLERK                      Stock Clerk           2100
18          ST_MAN                    Stock Manager           5800

19x3: 57 data elements

## Ejercicio bb)
Listar el nombre, apellidos y salario de los empleados cuyo salario sea mayor que el salario m√°ximo de al menos uno de los departamentos situados en su mismo pa√≠s.

In [102]:
SQL("""
SELECT
    E.first_name  AS Nombre,
    E.last_name   AS Apellidos,
    E.salary      AS Salario
FROM
    EMPLOYEES   AS E,
    DEPARTMENTS AS D,
    LOCATIONS   AS L,
    COUNTRIES   AS C
WHERE
    E.department_id   = D.department_id
    AND D.location_id = L.location_id
    AND L.country_id  = C.country_id

    AND EXISTS (
        SELECT 1
        FROM
            EMPLOYEES   AS E2,
            DEPARTMENTS AS D2,
            LOCATIONS   AS L2,
            COUNTRIES   AS C2
        WHERE
            E2.department_id  = D2.department_id
            AND D2.location_id = L2.location_id
            AND L2.country_id = C2.country_id
            AND C2.country_id = C.country_id
        GROUP BY
            D2.department_id
        HAVING
            MAX(E2.salary) < E.salary
    )
;


""")

         Nombre   Apellidos  Salario
0        Steven        King    24000
1         Neena     Kochhar    17000
2           Lex     De Haan    17000
3     Alexander      Hunold     9000
4         Bruce       Ernst     6000
5         David      Austin     4800
6         Valli   Pataballa     4800
7         Nancy   Greenberg    12000
8        Daniel      Faviet     9000
9          John        Chen     8200
10       Ismael     Sciarra     7700
11  Jose Manuel       Urman     7800
12         Luis        Popp     6900
13          Den    Raphaely    11000
14      Matthew       Weiss     8000
15         Adam       Fripp     8200
16        Payam    Kaufling     7900
17       Shanta     Vollman     6500
18        Kevin     Mourgos     5800
19         John     Russell    14000
20        Karen    Partners    13500
21      Alberto   Errazuriz    12000
22       Gerald   Cambrault    11000
23        Eleni     Zlotkey    10500
24        Peter      Tucker    10000
25        David   Bernstein     9500
26        Peter        Hall     9000
27  Christopher       Olsen     8000
28      Nanette   Cambrault     7500
29       Oliver     Tuvault     7000
30      Janette        King    10000
31      Patrick       Sully     9500
32        Allan      McEwen     9000
33      Lindsey       Smith     8000
34       Louise       Doran     7500
35       Sarath      Sewall     7000
36        Clara     Vishney    10500
37     Danielle      Greene     9500
38       Mattea     Marvins     7200
39        David         Lee     6800
40         Lisa        Ozer    11500
41     Harrison       Bloom    10000
42       Tayler         Fox     9600
43      William       Smith     7400
44    Elizabeth       Bates     7300
45        Ellen        Abel    11000
46       Alyssa      Hutton     8800
47     Jonathon      Taylor     8600
48         Jack  Livingston     8400
49      Shelley     Higgins    12000
50      William       Gietz     8300

51x3: 153 data elements

## Ejercicio cc)
Obtener Nombre, Apellidos, Salario y Nombre del departamento, de aquellos empleados que superen el 75% del salario del jefe de su departamento.

1. Œ°:
    * $E:= œÅ_{E}(EMPLOYEES)$
    * $D:= œÅ_{D}(DEPARTMENTS)$
    * $S:= œÅ_{S}(EMPLOYEES)$
3. $Œë := (E.departmentId = D.departmentId)$
4. $Œí := (D.managerId = S.employeeId)$
5. $Œì := (E.salary > 0.75 ¬∑ S.salary)$
7. $(E ‚®ù_Œë D)‚®ù_Œí S$
   1. $R_1 := œÉ_{(Œë ‚àß Œí)}[E ‚®Ø D ‚®Ø S]$
7. $R_2 := œÉ(Œì)[R_1]$
8. ‚¨¶ $œÄ(E.firstName, E.lastName, E.salary, D.departmentName)[R_2]$

In [ ]:
SQL("""
SELECT
    e.first_name AS Nombre,
    e.last_name AS Apellidos,
    e.salary AS Salario,
    d.department_name AS Departamento
FROM
    EMPLOYEES AS e,
    DEPARTMENTS AS d,
    EMPLOYEES AS j
WHERE
    e.department_id = d.department_id
    AND
    d.manager_id = j.employee_id
    AND
    e.salary > j.salary * 0.75
""")

       Nombre  Apellidos  Salario      Departamento
0      Steven       King    24000         Executive
1   Alexander     Hunold     9000                IT
2       Nancy  Greenberg    12000           Finance
3         Den   Raphaely    11000        Purchasing
4     Matthew      Weiss     8000          Shipping
5        Adam      Fripp     8200          Shipping
6       Payam   Kaufling     7900          Shipping
7      Shanta    Vollman     6500          Shipping
8        John    Russell    14000             Sales
9       Karen   Partners    13500             Sales
10    Alberto  Errazuriz    12000             Sales
11     Gerald  Cambrault    11000             Sales
12       Lisa       Ozer    11500             Sales
13      Ellen       Abel    11000             Sales
14   Jennifer     Whalen     4400    Administration
15    Michael  Hartstein    13000         Marketing
16      Susan     Mavris     6500   Human Resources
17    Hermann       Baer    10000  Public Relations
18    Shelley    Higgins    12000        Accounting

19x4: 76 data elements

## Ejercicio dd)
Obtener Apellidos, Salario y Nombre del departamento de aquellos empleados que trabajen en un departamento alojado en una ciudad en la cual est√©n alojados otros departamentos de la empresa (lo cual significa que en esa ciudad habr√° al menos dos departamentos alojados) y adem√°s no superen el salario medio del departamento para el cual trabajan.

In [117]:
SQL("""
SELECT
    E.last_name       AS Apellidos,
    E.salary          AS Salario,
    D.department_name AS Departamento
FROM
    EMPLOYEES   AS E,
    DEPARTMENTS AS D,
    LOCATIONS   AS L,
    (
        SELECT
            L2.city AS City
        FROM
            DEPARTMENTS AS D2,
            LOCATIONS   AS L2
        WHERE
            D2.location_id = L2.location_id
        GROUP BY
            L2.city
        HAVING
            COUNT(*) > 1
    ) AS Ciudades_Validas
WHERE
    E.department_id = D.department_id
    AND D.location_id = L.location_id
    AND L.city = Ciudades_Validas.City
    AND E.salary <= (
        SELECT AVG(EmpD.salary)
        FROM EMPLOYEES AS EmpD
        WHERE EmpD.department_id = E.department_id
        )
;
""")

     Apellidos  Salario    Departamento
0      Kochhar    17000       Executive
1      De Haan    17000       Executive
2         Chen     8200         Finance
3      Sciarra     7700         Finance
4        Urman     7800         Finance
5         Popp     6900         Finance
6         Khoo     3100      Purchasing
7        Baida     2900      Purchasing
8       Tobias     2800      Purchasing
9       Himuro     2600      Purchasing
10  Colmenares     2500      Purchasing
11      Whalen     4400  Administration
12       Gietz     8300      Accounting

13x3: 39 data elements

## Ejercicio ee)
Obtener una lista de empleados incluyendo una columna con su nombre y apellidos (estos dos campos ser√°n una cadena √∫nica estando separados por una coma) y otra con el n√∫mero de compa√±eros que tengan el mismo trabajo que √©ste. Esta lista debe ordenarse alfab√©ticamente seg√∫n el nombre de departamento al cual pertenezca, de la ‚ÄúZ‚Äù a la ‚ÄúA‚Äù. Esta lista solo afectar√° a empleados asignados a alg√∫n departamento.

In [ ]:
SQL("""
SELECT
    E.LAST_NAME || ', ' || E.FIRST_NAME AS "Nombre Completo",
    (SELECT
        COUNT(*)
        FROM
            EMPLOYEES AS E2
        WHERE
            E2.JOB_ID = E.JOB_ID
            )-1 AS "N√∫mero de compa√±eros"
FROM
    EMPLOYEES AS E,
    DEPARTMENTS AS D
WHERE
    E.DEPARTMENT_ID = D.DEPARTMENT_ID
ORDER BY
    D.DEPARTMENT_NAME DESC
;
""")

      Nombre Completo  N√∫mero de compa√±eros
0      Weiss, Matthew                     4
1         Fripp, Adam                     4
2     Kaufling, Payam                     4
3     Vollman, Shanta                     4
4      Mourgos, Kevin                     4
..                ...                   ...
101    Kochhar, Neena                     1
102      De Haan, Lex                     1
103  Whalen, Jennifer                     0
104  Higgins, Shelley                     0
105    Gietz, William                     0

[106 rows x 2 columns]

106x2: 212 data elements

## Ejercicio ff)
Dar una lista con el nombre y apellidos de los empleados cuyo trabajo actual tenga un salario m√°ximo menor a 12000 ‚Ç¨, incluyendo el nombre y apellidos de su supervisor. Esta lista solo debe incluir a empleados pertenecientes a alg√∫n departamento, cuyo salario (del empleado en cuesti√≥n) sea menor que el salario promedio de todos sus compa√±eros de departamento con igual trabajo que √©ste.

In [ ]:
SQL("""
SELECT
    E.LAST_NAME AS Apellidos,
    E.FIRST_NAME AS Nombre,
    S.LAST_NAME AS Apellidos_Supervisor,
    S.FIRST_NAME AS Nombre_Supervisor
FROM
    EMPLOYEES AS E,
    EMPLOYEES AS S,
    JOBS AS J
WHERE
    E.MANAGER_ID = S.EMPLOYEE_ID
    AND
    E.JOB_ID = J.JOB_ID
    AND
    J.MAX_SALARY < 12000
    AND
    E.DEPARTMENT_ID IS NOT NULL
    AND
    E.SALARY < ( SELECT
        AVG(C.SALARY)
        FROM EMPLOYEES AS C
        WHERE
            C.DEPARTMENT_ID = E.DEPARTMENT_ID
            AND
            C.JOB_ID = E.JOB_ID
            AND
            E.EMPLOYEE_ID <> C.EMPLOYEE_ID

            )


""")

      Apellidos       Nombre Apellidos_Supervisor Nombre_Supervisor
0        Austin        David               Hunold         Alexander
1     Pataballa        Valli               Hunold         Alexander
2       Lorentz        Diana               Hunold         Alexander
3       Sciarra       Ismael            Greenberg             Nancy
4         Urman  Jose Manuel            Greenberg             Nancy
5          Popp         Luis            Greenberg             Nancy
6        Himuro          Guy             Raphaely               Den
7    Colmenares        Karen             Raphaely               Den
8       Vollman       Shanta                 King            Steven
9       Mourgos        Kevin                 King            Steven
10  Mikkilineni        Irene                Weiss           Matthew
11       Landry        James                Weiss           Matthew
12       Markle       Steven                Weiss           Matthew
13       Marlow        James                Fripp              Adam
14        Olson           TJ                Fripp              Adam
15          Gee           Ki             Kaufling             Payam
16   Philtanker        Hazel             Kaufling             Payam
17          Seo         John              Vollman            Shanta
18        Patel       Joshua              Vollman            Shanta
19        Matos      Randall              Mourgos             Kevin
20       Vargas        Peter              Mourgos             Kevin
21       Taylor      Winston                Weiss           Matthew
22       Fleaur         Jean                Weiss           Matthew
23     Sullivan       Martha                Weiss           Matthew
24        Geoni       Girard                Weiss           Matthew
25       Cabrio      Anthony                Fripp              Adam
26        Gates      Timothy             Kaufling             Payam
27      Perkins      Randall             Kaufling             Payam
28       McCain       Samuel              Vollman            Shanta
29        Jones        Vance              Vollman            Shanta
30        Walsh        Alana              Mourgos             Kevin
31       Feeney        Kevin              Mourgos             Kevin
32     OConnell       Donald              Mourgos             Kevin
33        Grant      Douglas              Mourgos             Kevin

34x4: 136 data elements

## Ejercicio gg)
Proveer de una lista de empleados que sean supervisores indicando Nombre y Apellidos de √©ste que incluya el n√∫mero de empleados no directores de departamento que dicho supervisor supervisa, el n√∫mero de empleados directores de departamento que dicho supervisor supervisa. De estas dos √∫ltimas columnas se debe excluir empleados que sean supervisores.

> Si vemos el problema por partes, se puede resolver utilizando tablas intermedias. Una de ellas deber√≠a de identificar los Subalternos de cada Supervisor. La otra, los directores Supervisados.

In [133]:
SQL("""
    /* Subordinados NO directores */
    SELECT
        M.employee_id AS Id,
        COUNT(*)      AS NumSub,
        0             AS NumDir
    FROM
        EMPLOYEES AS M,
        EMPLOYEES AS E
    WHERE
        M.employee_id = E.manager_id
        AND E.employee_id NOT IN (
            SELECT Dep.manager_id
            FROM DEPARTMENTS AS Dep
            WHERE Dep.manager_id IS NOT NULL
        )
    GROUP BY
        M.employee_id

    UNION ALL

    /* Subordinados que S√ç son directores */
    SELECT
        M.employee_id AS Id,
        0             AS NumSub,
        COUNT(*)      AS NumDir
    FROM
        EMPLOYEES AS M,
        EMPLOYEES AS E
    WHERE
        M.employee_id = E.manager_id
        AND E.employee_id IN (
            SELECT Dep.manager_id
            FROM DEPARTMENTS AS Dep
            WHERE Dep.manager_id IS NOT NULL
        )
    GROUP BY
        M.employee_id
""")

     Id  NumSub  NumDir
0   100      10       0
1   103       4       0
2   108       5       0
3   114       5       0
4   120       8       0
5   121       8       0
6   122       8       0
7   123       8       0
8   124       8       0
9   145       6       0
10  146       6       0
11  147       6       0
12  148       6       0
13  149       6       0
14  201       1       0
15  205       1       0
16  100       0       4
17  101       0       5
18  102       0       1

19x3: 57 data elements

In [138]:
SQL("""
SELECT
    Super.last_name  AS "Apellido Supervisor",
    Super.first_name AS "Nombre Supervisor",
    SUM(Supervisados.Sub) AS "N¬∫ Subordinados",
    SUM(Supervisados.Dir) AS "N¬∫ Directores Supervisados"
FROM
    EMPLOYEES AS Super,
    (
        SELECT
            M.employee_id AS Id,
            COUNT(*)      AS Sub,
            0             AS Dir
        FROM EMPLOYEES AS M, EMPLOYEES AS E
        WHERE
            M.employee_id = E.manager_id
            AND E.employee_id NOT IN (
                SELECT Dep.manager_id
                FROM DEPARTMENTS AS Dep
                WHERE Dep.manager_id IS NOT NULL
            )
        GROUP BY M.employee_id

        UNION ALL

        SELECT
            M.employee_id AS Id,
            0             AS Sub,
            COUNT(*)      AS Dir
        FROM EMPLOYEES AS M, EMPLOYEES AS E
        WHERE
            M.employee_id = E.manager_id
            AND E.employee_id IN (
                SELECT Dep.manager_id
                FROM DEPARTMENTS AS Dep
                WHERE Dep.manager_id IS NOT NULL
            )
        GROUP BY M.employee_id
    ) AS Supervisados
WHERE
    Super.employee_id = Supervisados.Id
GROUP BY
    Super.employee_id, Super.last_name, Super.first_name
ORDER BY
    Super.last_name, Super.first_name
;


""")

,Apellido Supervisor,Nombre Supervisor,N¬∫ Subordinados,N¬∫ Directores Supervisados
0,Cambrault,Gerald,6,0
1,De Haan,Lex,0,1
2,Errazuriz,Alberto,6,0
3,Fripp,Adam,8,0
4,Greenberg,Nancy,5,0
5,Hartstein,Michael,1,0
6,Higgins,Shelley,1,0
7,Hunold,Alexander,4,0
8,Kaufling,Payam,8,0
9,King,Steven,10,4
10,Kochhar,Neena,0,5
11,Mourgos,Kevin,8,0
12,Partners,Karen,6,0
13,Raphaely,Den,5,0
14,Russell,John,6,0
15,Vollman,Shanta,8,0
16,Weiss,Matthew,8,0
17,Zlotkey,Eleni,6,0

18x4: 72 data elements

## Ejercicio hh)
Realizar una lista de directores de departamento con sus nombres y apellidos, incluyendo: el n√∫mero de empleados pertenecientes al departamento que dirige y que son supervisores, el sueldo medio de todos los empleados de su departamento que no son supervisores. Esta lista s√≥lo debe incluir directores que superen en un 10% el salario promedio del resto de directores de departamento de la empresa que no sean supervisores.

He explorado como hacerla con tablas intermedias:

In [140]:
# Supervisores
SQL("""
SELECT DISTINCT
    E2.MANAGER_ID AS supervisor_id
FROM EMPLOYEES AS E2
WHERE E2.MANAGER_ID IS NOT NULL

""")

    supervisor_id
0           100.0
1           102.0
2           103.0
3           101.0
4           108.0
5           114.0
6           120.0
7           121.0
8           122.0
9           123.0
10          124.0
11          145.0
12          146.0
13          147.0
14          148.0
15          149.0
16          201.0
17          205.0

18x1: 18 data elements

In [142]:
# Supervisores tambi√©n directores
SQL("""
SELECT
    D.MANAGER_ID   AS director_id,
    COUNT(*)       AS num_supervisores
FROM DEPARTMENTS AS D,
     EMPLOYEES   AS E
WHERE
    D.DEPARTMENT_ID = E.DEPARTMENT_ID
    AND E.EMPLOYEE_ID IN (
        SELECT DISTINCT
            E2.MANAGER_ID
        FROM EMPLOYEES AS E2
        WHERE E2.MANAGER_ID IS NOT NULL
    )
GROUP BY
    D.MANAGER_ID
""")

   director_id  num_supervisores
0        100.0                 3
1        103.0                 1
2        108.0                 1
3        114.0                 1
4        121.0                 5
5        145.0                 5
6        201.0                 1
7        205.0                 1

8x2: 16 data elements

In [141]:
# Directores
SQL("""
SELECT
    D.MANAGER_ID   AS director_id,
    D.DEPARTMENT_ID
FROM DEPARTMENTS AS D
WHERE D.MANAGER_ID IS NOT NULL
""")

    director_id  department_id
0         200.0             10
1         201.0             20
2         114.0             30
3         203.0             40
4         121.0             50
5         103.0             60
6         204.0             70
7         145.0             80
8         100.0             90
9         108.0            100
10        205.0            110

11x2: 22 data elements

Final

In [143]:
SQL("""
SELECT
    Dir.first_name,
    Dir.last_name,
    Sup.num_supervisores,
    AvgNS.avg_salary_nosuper
FROM
    EMPLOYEES AS Dir,

    (
        SELECT
            D.MANAGER_ID   AS director_id,
            COUNT(*)       AS num_supervisores
        FROM DEPARTMENTS AS D,
             EMPLOYEES   AS E
        WHERE
            D.DEPARTMENT_ID = E.DEPARTMENT_ID
            AND E.EMPLOYEE_ID IN (
                SELECT DISTINCT
                    E2.MANAGER_ID
                FROM EMPLOYEES AS E2
                WHERE E2.MANAGER_ID IS NOT NULL
            )
        GROUP BY
            D.MANAGER_ID
    ) AS Sup,

    (
        SELECT
            D.MANAGER_ID   AS director_id,
            AVG(E.SALARY)  AS avg_salary_nosuper
        FROM DEPARTMENTS AS D,
             EMPLOYEES   AS E
        WHERE
            D.DEPARTMENT_ID = E.DEPARTMENT_ID
            AND E.EMPLOYEE_ID NOT IN (
                SELECT DISTINCT
                    E2.MANAGER_ID
                FROM EMPLOYEES AS E2
                WHERE E2.MANAGER_ID IS NOT NULL
            )
        GROUP BY
            D.MANAGER_ID
    ) AS AvgNS

WHERE
    Dir.EMPLOYEE_ID = Sup.director_id
    AND Dir.EMPLOYEE_ID = AvgNS.director_id
    AND Dir.SALARY > 1.10 * (
        SELECT
            AVG(E.SALARY)
        FROM EMPLOYEES AS E
        WHERE
            E.EMPLOYEE_ID IN (
                SELECT
                    D.MANAGER_ID
                FROM DEPARTMENTS AS D
                WHERE D.MANAGER_ID IS NOT NULL
            )
            AND E.EMPLOYEE_ID NOT IN (
                SELECT DISTINCT
                    E2.MANAGER_ID
                FROM EMPLOYEES AS E2
                WHERE E2.MANAGER_ID IS NOT NULL
            )
    )
ORDER BY
    Dir.last_name,
    Dir.first_name
;


""")

  first_name  last_name  num_supervisores  avg_salary_nosuper
0       Adam      Fripp                 5         3000.000000
1      Nancy  Greenberg                 1         7920.000000
2    Michael  Hartstein                 1         6000.000000
3    Shelley    Higgins                 1         8300.000000
4  Alexander     Hunold                 1         4950.000000
5        Den   Raphaely                 1         2780.000000
6       John    Russell                 5         8396.551724

7x4: 28 data elements